## import all the dataset and anonymize all the columns

In [39]:
#import all the neccessary packages
import pandas as pd
import numpy as np
import os
import glob
import sys

# read multiple files and anonymize them

In [40]:
from anonymizedf.anonymizedf import anonymize
# import all csv files in a directory
seprator = ";"

all_dfs = []

for one_filename in glob.glob(r'*.csv'):
    print(f'loading {one_filename}')
    try:
        new_df = pd.read_csv(one_filename,delimiter=seprator)
        an = anonymize(new_df)
        fake_df = (
            an
            .fake_categy("omschrijving",chaining=True)
            .fake_rakening("rekening_nummer", "tegenrekening_nummer", chaining=True)
            .fake_categories("rekening_naam", "tegenrekening_naam", chaining=True)
            # .fake_categy("omschrijving")
            # .show_data_frame()
        )
        
        fake_df.save(f"ano_{one_filename}")
        
    except  Exception as e:
        print("Exception occurred for value '"+ "': "+ repr(e))

    # all_dfs.append(new_df)
# columns that exists in col_used but not in col_used_1
# print(list(set(col_used_1).difference(col_used)))
# print(sys.getsizeof(all_dfs))import pandas as pd
# data1 = pd.read_csv(r"C:\Users\afoto001.000\Desktop\All projects\Audit solution\Anonymization projects\PAT\PAT Client Test Data\Client 1\bank_betalingsanalyse_banktransacties.csv",delimiter="|")
# data2 = pd.read_csv(r"C:\Users\afoto001.000\Desktop\All projects\Audit solution\Anonymization projects\PAT\PAT Client Test Data\Client 1\batch_betalingsanalyse_batchtransacties.csv",delimiter="|")
# data3 = pd.read_csv(r"C:\Users\afoto001.000\Desktop\All projects\Audit solution\Anonymization projects\PAT\PAT Client Test Data\Client 1\cre_betalingsanalyse_crediteuren.csv",delimiter="|")
# data4 = pd.read_csv(r"C:\Users\afoto001.000\Desktop\All projects\Audit solution\Anonymization projects\PAT\PAT Client Test Data\Client 1\deb_betalingsanalyse_debiteuren.csv",delimiter="|")
# data5 = pd.read_csv(r"C:\Users\afoto001.000\Desktop\All projects\Audit solution\Anonymization projects\PAT\PAT Client Test Data\Client 1\emp_betalingsanalyse_medewerkers.csv",delimiter="|")

loading ano_data1.csv
Exception occurred for value '': KeyError('omschrijving')
loading ano_data2.csv
Exception occurred for value '': KeyError('omschrijving')
loading ano_data3.csv

Exception occurred for value '': KeyError('omschrijving')
loading data1.csv
loading data2.csv
loading data3.csv

In [8]:
# all_dfs
df = pd.concat(all_dfs)

In [9]:
df

,datum,rekening_nummer,rekening_naam,tegenrekening_nummer,tegenrekening_naam,munteenheid,bedrag,D/C,omschrijving,categorie,bestandsnaam
0,20-10-2022,NL20DEUT0319815528,MCB Business & Information Services B.V.,NaN,NaN,EUR,81.72,NaN,"SVWZ+SEPA Credit Transfer Batch, transaction c...",bank,PWC Audit - DB - BIS.csv
1,20-10-2022,NL20DEUT0319815528,MCB Business & Information Services B.V.,NaN,NaN,EUR,792.00,NaN,Booking for Deutsche Bank invoice NLD-50441219...,bank,PWC Audit - DB - BIS.csv
2,20-10-2022,NL20DEUT0319815528,MCB Business & Information Services B.V.,NaN,NaN,EUR,81.73,NaN,DB-TRANSFER NL20DEUT0319815528 4121901 000...,bank,PWC Audit - DB - BIS.csv
3,24-10-2022,NL20DEUT0319815528,MCB Business & Information Services B.V.,NL47RABO0300072686,"De Lage Landen, Postbus 652",EUR,1.11,NaN,EREF+44312200000932-20221013MREF+ILSDL443G0000...,bank,PWC Audit - DB - BIS.csv
4,24-10-2022,NL20DEUT0319815528,MCB Business & Information Services B.V.,NL47RABO0300072686,"De Lage Landen, Postbus 652",EUR,18129.00,NaN,EREF+44312200000933-20221013MREF+ILSDL443G0000...,bank,PWC Audit - DB - BIS.csv
...,...,...,...,...,...,...,...,...,...,...,...
13791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:

print(data2.columns,data2.dtypes)

Index(['datum', 'rekening_nummer', 'rekening_naam', 'tegenrekening_nummer',
       'tegenrekening_naam', 'munteenheid', 'bedrag', 'D/C', 'omschrijving',
       'categorie', 'bestandsnaam'],
      dtype='object') datum                    object
rekening_nummer         float64
rekening_naam           float64
tegenrekening_nummer     object
tegenrekening_naam      float64
munteenheid              object
bedrag                  float64
D/C                     float64
omschrijving             object
categorie                object
bestandsnaam             object
dtype: object

## data1
### quasi-identifiers
- rekening_number (account number) -> DEUTSCHE BANK NEDERLAND N.V. (example: NL20DEUT0319815528)
- rekening_naam (Account name) -> The Name of the client or account owner company (iven address of the company or location)
- tegenrekening_nummer (counteraccount number") -> This term is often used in banking and financial contexts to refer to the account number of a counterparty or a recipient when performing transactions, transfers, or payments.
- tegenrekening_naam (counteraccount name)-> it refers to the name associated with the counteraccount or recipient's bank account when performing transactions, transfers, or payments.
- omschrijving (description) -> info about banks (string of characters)
### Not important columns
- D/c -> empty
- munteenheid
- bedrag
- categorie
- bestandsnaam
## Data2
### quasi-identifiers
- rekening_nummer -> empty column
- rekening_naam -> empty column
- tegenrekening_naam -> empty column
- tegenrekening_nummer -> an attribute with string and integer values, (example: 9923635800,738-0156644-11, 000016200X95)
- 
### Not important columns
- Datum (date) 
- munteenheid
- bedrag
- D/C -> empty
- omschrijving -> Just a whole number
- categorie
- bestandsnaam
## Data 3
### quasi-identifiers
- id -> big whole number
- company -> name of the company
- Name -=> the name of the company (? what is the difference between company and name)
- straat -> 
- stad -> city where the client is located
- rekening -> just a whole number(? )

### Not important columns
- number -> house number, just a number
- toevoeging -> empty
- postcode -> just only number
- indienst -> empty
- uitdienst -> empty
- categorie
- bestandsnaam
## Data 4
### quasi-identifiers
- id
- company -> name of the company
- naam -> (?)
- straat
- stad
- rekening

### Not important columns
- nummer
-  toevoeging -> empty
- post code -> just a number
- indienst -> empty
- uitdienst -> empty
- categorie
- bestandsnaam
## Data 5
### quasi-identifiers
- id
- company
-  naam
- postcode
- stad
- rekening
- 
### Not important columns
-  nummer
- toevoeging
- indienst
- uitdienst
- categorie
- bestandsnaam

In [28]:
df = pd.concat([data1, data2,data3,data4,data5],ignore_index = True)

In [29]:
df

,datum,rekening_nummer,rekening_naam,tegenrekening_nummer,tegenrekening_naam,munteenheid,bedrag,D/C,omschrijving,categorie,...,company,naam,straat,nummer,toevoeging,postcode,stad,rekening,indienst,uitdienst
0,2022-10-20,NL20DEUT0319815528,MCB Business & Information Services B.V.,NaN,NaN,EUR,81.72,NaN,"SVWZ+SEPA Credit Transfer Batch, transaction c...",bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-10-20,NL20DEUT0319815528,MCB Business & Information Services B.V.,NaN,NaN,EUR,792.00,NaN,Booking for Deutsche Bank invoice NLD-50441219...,bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-10-20,NL20DEUT0319815528,MCB Business & Information Services B.V.,NaN,NaN,EUR,81.73,NaN,DB-TRANSFER NL20DEUT0319815528 4121901 000...,bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-10-24,NL20DEUT0319815528,MCB Business & Information Services B.V.,NL47RABO0300072686,"De Lage Landen, Postbus 652",EUR,1.11,NaN,EREF+44312200000932-20221013MREF+ILSDL443G0000...,bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-10-24,NL20DEUT0319815528,MCB Business & Information Services B.V.,NL47RABO0300072686,"De Lage Landen, Postbus 652",EUR,18129.00,NaN,EREF+44312200000933-20221013MREF+ILSDL443G0000...,bank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,emp,...,MCB International B.V.,Jahesh Rahimi,Buitenplaats,115,NaN,8212 AE,LELYSTAD,NL60ABNA0432121579,2017-03-06,NaN
160260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,emp,...,MCB International B.V.,Jolanda Kerkhoff,Rolklaverpad,41,NaN,1314 PD,ALMERE,NL09ABNA0508403588,2020-10-01,NaN
160261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,emp,...,MCB International B.V.,Patricia Scherbinski - Bouwman,Poelkruidstraat,22,NaN,8245 JE,LELYSTAD,NL29INGB0684936674,2020-12-01,NaN
160262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,emp,...,MCB International B.V.,Mariska Cornelis,Stormzeil,75,NaN,1319 EE,ALMERE,NL55INGB0007245221,2022-10-03,NaN
160263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,emp,...,MCB International B.V.,Ronald van der Maten,Luxemburgstraat,10,NaN,1363 BK,ALMERE,NL04RABO0387226699,2023-01-01,NaN

In [35]:
size_in_mb = df.memory_usage(deep=True).sum() / (1024 * 1024)
print("Estimated DataFrame size:", size_in_mb, "MB")

Estimated DataFrame size: 151.19743061065674 MB